---
layout: default
title: Алексей Камынин
---
<div id="home">
  <h1>Записи</h1>
  {% for post in site.posts %}
    <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a><br>
  {% endfor %}

  <hr>

  <h1>Сниппеты</h1>
  {% for s in site.snippet %}
    <a href="{{ s.url }}">{{ s.title }}</a><br>
  {% endfor %}

  <hr>

  <h1>Проекты</h1>
  {% for p in site.prj %}
    <a href="{{ p.url }}">{{ p.title }}</a><br>
  {% endfor %}

  <hr>
  <h1>Скрипты</h1>
  Забрать всё вместе, разом, с github:
  <a href="https://github.com/bubujka/bu.bin">https://github.com/bubujka/bu.bin</a>
  <pre><code class='language-bash'>git clone git@github.com:bubujka/bu.bin.git</code></pre>
  <ul>
    {% for v in site.bin %}
      <li>
        {% include bin-link.html obj=v %}
      </li>
    {% endfor %}
  </ul>
</div>
