<a href="/#posts">Записи</a>
<br>
<a href="/#projects">Проекты</a> /
<a href="/#tech">Технологии</a> /
<a href="/#bin">Скрипты</a> /
<a href="/#snippets">Сниппеты</a>
<br>
<a href="https://forum.bubujka.org">Форум <img src='/images/ico/comments.png'></a>
<br>
<div class="social-icons">
  <a href="https://t.me/bububujka" target="_blank"><img src="/images/ico/tg.svg" class='menu-ico'></a>
  <a href="http://instagram.com/bubujka" target="_blank"><img src="/images/ico/instagram.svg" class='menu-ico'></a>
  <a href="https://github.com/bubujka" target="_blank"><img src="/images/ico/github.svg" class='menu-ico'></a>
  <a href="https://www.youtube.com/channel/UC7JLszkhV4c8Zf3Vwsy0U2Q" target="_blank"><img src="/images/ico/youtube.svg" class='menu-ico'></a>
  <a href="https://www.twitch.tv/bubujka" target="_blank"><img src="/images/ico/twitch.svg" class='menu-ico'></a>
</div>
