<h1>{{include.pretitle}}{{ include.post.title }}</h1>
<small>{{include.post.date | date: "%Y-%m-%d"}}</small><br>
{% include tags.html obj=include.post %}
{% include tech.html obj=include.post %}
{% include post-project.html obj=include.post %}

<div class='hr'></div>

{% if include.post.summary %}
  <div class="resp-container">
      <iframe class="resp-iframe"
          src="https://www.youtube.com/embed/{{include.post.summary}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
  </div>
{% endif %}
{{ include.post.content }}

{% for v in include.post.videos %}
  <div class="resp-container">
      <iframe class="resp-iframe"
          src="https://www.youtube.com/embed/{{v}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
  </div>
  &nbsp;
{% endfor %}

