<html>
<head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/cover.css" type="text/css"/>

<style>
.bg{
  background: {{page.bg}};
}

.text span{
  color: {{page.secondary}}
}

.text .h3{
  color: {{page.secondary}}
}

{% if page.h1_size %}
.text .h1{ font-size: {{page.h1_size}}; }
{% endif %}
{% if page.h2_size %}
.text .h2{ font-size: {{page.h2_size}}; }
{% endif %}
{% if page.h3_size %}
.text .h3{ font-size: {{page.h3_size}}; }
{% endif %}

</style>

</head>
<body>
  {{content}}
</body>
  <div class="container">
    <div class="bg"></div>
    <div class="border"></div>
    <div class="glow glow1"></div>
    <div class="glow glow2"></div>
    <div class="face">
      <img src="/images/face.jpg">
    </div>
    <div class="text">
      <h1 class='h1'>{{page.h1}}</h1>
      <h2 class='h2'>{{page.h2}}</h2>
      <h2 class='h3'>{{page.h3}}</h2>
    </div>
  </div>
</html>

