---
title_format: default
---
<!DOCTYPE html>
<html>
<head>
    <title>{% include title_formats/{{layout.title_format}}.html %}</title>
    {% include afterhead.html %}
</head>
<body>
<div class="site">
  <div class="title">
    {% include menu.html %}
  </div>

  {% include header-ad.html %}

  <div class="post">
    {{ content }}
  </div>

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}

  <div class="footer">
    <div class="hr"></div>
    <div class="right">
      <a href="/copy.html">Благодарности <img src='/images/ico/heart.png'></a><br>
      {% include menu.html %}
    </div>
  </div>
</div>
{% include afterbody.html %}
</body>
</html>
